{% extends "conteneur.html" %}
{% block corps %}
<div>
    <br>
    <br>
    <br>
    <div class="container" style="text-align: justify;">
        <br />
        <h1 class="titre">À propos</h1>
        <hr class="style-one" />
        <div class="homeText">
            <p>Cette application web est développée par <a href="https://github.com/Juliettejns" target="_blank">Juliette Janes</a> dans le cadre du Master TNAH de l'<a href="http://www.chartes.psl.eu/fr/cursus/master-technologies-numeriques-appliquees-histoire">École nationale des chartes</a>.</p>
            <p>Ce site a été dévéloppé avec Flask, framework open-source de développement web en Python. Les différents articles composant le corpus de travail ont été océrisés par l'OCR de Gallica, puis encodés en XML-TEI. La librairie lxml a donc été utilisée afin d'extraire les informations présentes dans ce fichier. La base de donnée a été constituée à partir de SQLite et est gérée, au sein de la programmation, grâce à l'ORM SQLAlchemy. Le framework Bootstrap a été largement utilisé pour le front-end du site.</p>
            <br>
        </div>
		<br>
		<br>
		<br>
		<div class="homeText">
			 <h3>Balisage et structuration TEI du corpus</h3>
               <p>Il a été décidé d'encoder dans un même document les différents articles, notamment
                  dans un soucis de pouvoir réaliser un index de personnes et lieux communs. Pour ce
                  faire, une association des balises <strong>group</strong>; <strong>text</strong> et <strong>front</strong>
                  a été mobilisé. Ainsi, tout les documents sont imbriqués dans une seule balise
                     <strong>group</strong>, et chaque document est symbolisé par un <strong>text</strong>. Cette
                  balise <strong>text</strong> a pour attributs, obligatoires, <em>@n</em>, qui numérote
                  les articles encodés, <em>@xml:id</em>, qui donne le numéro du journal dans
                  lequel l'article a été publié et <em>@facs</em> qui renvoie à la page gallica de
                  ce numéro. Chaque document a une balise <strong>front</strong> dans laquelles est encodé
                  le nom de l'article, dans un <strong>docTitle</strong> et la date de parution dans un
                     <strong>docDate</strong>. Enfin, l'article lui même est encodé dans un <strong>body</strong>.
                  Ainsi, la structuration est présentée de cette façon:</p>
			<br>
			<div class="row">
               <div class="col-md-8 mx-auto">
                  &lt;text&gt;<br>
                     &nbsp;&nbsp;&nbsp;&nbsp;&lt;group&gt;<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;text n="1" xml:id="n641" facs="https://gallica.bnf.fr/ark:/12148/bpt6k6703760h"&gt;<br>
                           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;front&gt;<br>
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;docTitle&gt;<br>
                                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;titlePart type="main"&gt;Notes d'une Frondeuse&lt;/titlePart&gt;<br>
                                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;titlePart type="sub"&gt;Heures d'angoisse&lt;/titlePart&gt;<br>
                             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/docTitle&gt;<br>
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;docDate&gt;<br>
                               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;date when-iso="1898-09-10"&gt;9 septembre 1898&lt;/date&gt;<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/docDate&gt;<br>
                           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/front&gt;<br>
                           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;body&gt;<br>
				   		   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/body&gt;<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/text&gt;<br>
                     &nbsp;&nbsp;&nbsp;&nbsp;&lt;/group&gt;<br>
                  &lt;/text&gt;<br>
			</div>
			<br>
               <p>Chaque article est structuré par en paragraphes par des balises <strong>p</strong>.
                  Lorsqu'une phrase indique la date et le lieu d'écriture de l'article, elle est
                  encodé dans une balise <strong>dateline</strong>. Les éléments cités sont contenus dans
                  des balises <strong>quote</strong>.</p>
               <div>
                  <h4>Encodage des personnes, lieux et dates dans le corps de l'article</h4>
                  <p>Les personnages, lieux et dates ont été encodées avec les balises suivantes: </p>
				   <br>
					  <ul>
						  <li><strong>persName</strong></li>
						  <li><strong>placeName</strong></li>
						  <li><strong>rs</strong></li>
				   </ul>
				   <br>
                  <p> La balise <strong>persName</strong> encadre les noms de personnages mentionnés dans le
                     texte. Lorsqu'il s'agit d'une référence à une personne sans la nommer, on
                     utilise l'élément <strong>rs</strong>. La balise <strong>placeName</strong> encadre les noms de
                     lieux. L'ODD rend obligatoire l'utilisation de l'attribut <em>@ref</em>, qui
                     permet de lier un persName, un rs ou un placeName à l'index de lieux ou de
                     noms, dans le texte à encoder. La balise <strong>date</strong> encadre les mentions de
                     date, qu'il faut normaliser avec l'attribut <em>@when-iso</em> sous la forme
                     annee-mois-jour.</p>
				   <br>
				   <div class="row">
				   <div class="col-md-8 mx-auto">
					  	&lt;persName ref="#DEMANGE"/&gt;<br>
					    &lt;placeName ref="#RENNES" /&gt;<br>
						&lt;date when-iso="1899-09-08"/&gt;<br>
               	   </div>
				   </div>
				   <br>
				   <br>
               <div>
                  <h4>Index de lieux</h4>
                  <p>Le <strong>TEIheader</strong> se compose d'un <strong>fileDesc</strong> présentant une
                     description bibliographique complète du fichier électronique et d'un
                        <strong>profileDesc</strong> fournissant une description détaillée des éléments
                     non-bibliographiques du document.L'élément <strong>sourceDesc</strong> du
                        <strong>fileDesc</strong> donne une version détaillée de la description
                     bibliographique de l'édition sur lequel se base le fichier électronique tandis
                     que le <strong>profileDesc</strong> contient les index de lieux et de personnages dans
					  les balises suivantes: </p>
				   <br>
				   <ul>
					   <li><strong>SettingDesc</strong></li>
					   <li><strong>ParticDesc</strong></li>
				   </ul>
				   <br>
                  <p>Le <strong>settingDesc</strong> présente dans une <strong>listPlace</strong> les différents
					  lieux mentionnés dans le texte sous la forme suivante: </p>
				   <br>
				   <div class="row">
					   <div class="col-md-8 mx-auto">
                        &lt;place n="1" xml:id="RENNES"&gt;<br>
                           &nbsp;&nbsp;&nbsp;&nbsp;&lt;placeName&gt;Rennes&lt;/placeName&gt;<br>
                        &lt;/place&gt;<br>
				   </div>
				   </div>
				   <br>
                     <p> La balise <strong>place</strong> permet de créer un élément dont
                     l'identifiant, nommé par l'attribut <em>@xml:id</em> peut être rappelé dans
                     l'attribut <em>@ref</em> de la balise <strong>placeName</strong> dans le
                     <strong>body</strong>. Chaque <strong>place</strong> est également numéroté. </p>
                  <p> Certains lieux sont développés par des éléments <strong>desc</strong> présentant
                     quelques informations importantes et dans des balises <strong>location</strong>, qui
                     les situent plus précisemment.</p>
               </div>
				   <br>
				   <br>
               <div>
                  <h4>Index de personnes</h4>
                  <p>Le <strong>particDesc</strong> se compose de plusieurs <strong>listPerson</strong>, liste
                     des différents personnages mentionnés dans le texte sur le même principe que le
                        <strong>listPlace</strong>, avec un développement plus important pour certains
                     personnages, notamment en y ajoutant quelques informations afin de mieux
					  comprendre le texte. Chacune d'entre elles prend pour un <em>type</em> pour attribut indiquant 
					  si il s'agit d'une liste de dreyfusard, antidreyfusard ou personnes sans indications de positionnement dans l'affaire Dreyfus. </p>
				   <br>
                  <div class="row">
					  <div class="col-md-8 mx-auto">
                     &lt;person n="6" xml:id="BASCH" role="intellectuel"&gt;<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;persName&gt;<br>
                           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;forename&gt;Victor&lt;/forename&gt;<br>
                           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;surname&gt;Basch&lt;/surname&gt;<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/persName&gt;<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;note&gt;Intellectuel Hongrois de confession juive, il est professeur à la
                           faculté de lettres de Rennes de 1889 à 1906 et militant
                           dreyfusard.&lt;/note&gt;<br>
                     &lt;/person&gt;<br>
				   </div>
				   </div>
				   <br>
                  <p><strong>person</strong> contient de nombreuses balises, comme le <strong>persName</strong>, qui
                     donne des informations sur le nom de la personne<strong>forename</strong> pour le
                     prénom, <strong>surname</strong> pour le nom de famille, une balise <strong>note</strong>
                     détaillant la personne ou, parfois des balises <strong>death</strong> et <strong>birth</strong>
                     pour les dates de vie. Il est obligatoire, comme pour <strong>place</strong>, d'ajouter
                     les attributs <em>@n</em>, qui numérote les personnages et <strong>xml:id</strong>,
                     pour créer le pointeur référant à ce personnage. Un dernier attribut
					  <strong>role</strong>, pouvant prendre les valeurs <em>intellectuel</em>, <em>militaire</em>, <em>politique</em> et <em>juridique</em>, 
					  permet de donner une indication sur le rôle social de la personne.</p>
                  <p> L'élément <strong>personGrp</strong> permettant d'encadrer les mentions de groupes de
                     personnes, à l'exemple de l'armée française ou les dreyfusards, et fonctionne
                     de la même façon que l'élément <strong>person</strong>.</p>
               </div>
            </div>
		</div>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
{% endblock %}