{% extends "conteneur.html" %}
{% block corps %}
    <br>
<div class="container">

    <br />
    <br />
    <br />
    <br />
        <div style="text-align: justify;">
            <br />
            <h3>Description de l'application</h3>
            <br />
            <p>Cette application web vise à présenter un groupe d'articles écrits par <a href="{{url_for('contexte')}}#Severine" title="Severine">Séverine</a> et parus dans <a href="{{url_for('contexte')}}#Fronde" title="La Fronde">La
                     Fronde</a>, journal féministe français de la Belle Époque, comme une
                  chronique, Notes d'une frondeuse. Ils ont été choisis, rassemblés et
                édités par les soins de <a href="https://github.com/Juliettejns">Juliette Janes</a> depuis les versions numérisées et océsirées
                  des journaux, disponibles et libres de droits sur <a href="https://gallica.bnf.fr/ark:/12148/cb327788531/date">Gallica</a>.</p>
			<p>Le détail de l'encodage réalisé est disponible sur la page <a href="{{url_for('about')}}">à propos</a>.</p>
			<p>Fonctionnalités de l'application:</p>
			<ul>
				<li>Une édition numérique d'un échantillon d'articles choisis, listé sur la page <a href="{{url_for('corpus')}}">Corpus</a>.</li>
				<li>Des index de <a href="{{url_for('lieux')}}">lieux</a> et <a href="{{url_for('personnes')}}">personnes</a> permettant de naviguer dans les articles en fonction de ceux-ci.</li>
				<li>Une recherche plein-texte par mot clef défini par l'utilisateur dans l'intégralité des articles.</li>
            </ul>
            <br />
            <br />
            <br />
			
        </div>     
{% endblock %}
