{% extends "conteneur.html" %}
{% block corps %}
<br/>
<br/>
<br/>
<br/>
<div class="container" style="text-align: justify;">
				<h3>Notes d'une frondeuse</h3>
				<p>Une description du contexte historique de la rédaction des articles présentés.</p>
				<br>
	<br>
				<div id="Severine">
					<h4>Séverine</h4>
					<p>Caroline Rémy naît en 1855, dans le XIème arrondissement de Paris, d'un père inspecteur 
						à la préfecture de police. Provenant donc d'un milieu petit-bourgeois, elle apprend
						à lire et écrire puis est marié, à l'âge de 16 ans à Antoine-Henri Montrobert, employé du 
						gaz, dont elle se sépare rapidement, après la naissance de son enfant. Par la suite, elle 
						rencontre Adrien Guebhard, médecin et professeur à la faculté de médecine de Paris, qui devient 
						son compagnon et qu'elle épouse en 1885, année de l'autorisation du divorce en France.</p>
					<p>Caroline Rémy rencontre Jules Vallès(1832-1885) en 1879 à Bruxelles, juste avant l'amnistie 
						des Communards lui permettant de rentrer en France. Devenue son amie, elle lui apporte le soutien financier 
						d'Adrien Guebhard pour la fondation de son quotidien socialiste, <em>Le Cri du Peuple</em>
					en 1883. Vallès lui propose alors de devenir son secrétaire personnel au sein du journal, lui donnant accès à 
					une formation sociale et politique qui lui permet rapidement d'écrire ses propres articles, tout d'abord sous le 
					nom de Séverin, puis sous celui de Séverine. Elle devient ainsi la première femme journaliste à vivre de sa plume. Elle reprend la direction du journal à la mort de son ami, en
                  1885, qu'elle quitte en 1888 suite à un différend. Caroline Rémy, sous le nom de
                  plume de Séverine, écrit alors, en indépendante dans de nombreux journaux. Elle
                  publie quotidiennement, de 1897 à 1903, <em>Notes d'une frondeuse</em> dans le
						journal de son amie Marguerite Durand.</p>
					<p>Dans ses écrits, Séverine se montre engagée pour l'émancipation de la femme, dénonçant les injustices sociales
                  et soutenant les causes anarchistes. Ses prises de positions s'intensifient au fur et à mesure de sa collaboration
						avec Jules Vallès, duquel elle tient son journalisme de terrain, basé sur une vérification poussée des faits. Soutien des ouvrières et ouvriers, mineurs,
						déserteurs et soldats, elle défend également le socialisme libertaire de Vallès, milite pour les droits civiques et civils des femmesTout d'abord convaincue de la culpabilité de Dreyfus, elle change
						d'avis lors de la parution de "J'accuse" par Emile Zola dans <em>l'Aurore</em> et participe intensément à l'Affaire. Membre 
						dès 1898, à sa création, la Ligue des Droits de l'Homme, elle est également proposée par trois fois par Anatole France pour le Prix Nobel de la Paix. 
					</p>
				</div>
	<br>
	<br>
				<div id="Fronde">
					<h4>La Fronde, premier journal féminin</h4>  
               <p>
				   À l'origine de <em>la Fronde</em>, il y a Marguerite Durand (1864-1932), qui, après une carrière théâtrale, devient journaliste en 1888, à la Presse, 
				   quotidien créé par son mari, l'avocat Georges Laguerre, puis au Figaro à partir de 1895. C'est pour ce journal qu'elle couvre le Congrès international
				   des droits de la Femme de Paris de 1896, où elle rencontre Maria Pognon, suffragiste, pacifiste et présidente de la Ligue Française pour les Droits de 
				   la Femme de 1892 à 1903, qui lui insufle l'idée d'un journal entièrement féminin. Avec l'aide de celle-ci et de Séverine, qui est une de ses amies proches, 
				   elle fonde <em>la Fronde</em>, journal produit entièrement produit par des femmes "de la journaliste à la typographe" et s'établie au 14 rue Saint Georges à 
				   Paris, dans un hotel particulier tenant lieu à la fois de lieu de production du journal et de salon mondain pour le cercle féministe parisien de la fin du 
				   XIXème siècle.</p>
				<p>À la suite de la sortie du premier numéro le 9 décembre 1897, le journal parait
                  quotidiennement de 1897 à 1903, avec un pic de 50 000 ventes par jour, puis
                  mensuellement de 1903 à 1905, comme supplément du journal <hi>L'Action</hi>, autre quotidien créé par Marguerite Durand, de tendance anticlérical et socialiste. Par
                  la suite le journal cesse d'être publié, à cause d'ennuis financiers dûs à des
                  problèmes de ventes. Relancé en 1914, il est arrêté avec le début de la Guerre et
                  n'est repris qu'en 1926, sans grand succès.</p>
					<p>La ligne éditoriale du journal parle non seulement des femmes, notamment de la question du travail féminin et des droits qui lui sont associés,
						de l'indépendance des femmes et de leur intellect et du droit de vote, mais aborde aussi toute sorte de domaines journalistes. Journal à tendance républicaine, socialiste
						et laïque, il présente ainsi des articles sur la politique intérieure, extérieure, la Bourse, les arts et les lettres, les études historiques et sociales et même des feuilletons.
						De nombreuses femmes, plus ou moins connues, y participent, à l'instar de Clémence Royer, physicienne, anthropologue, naturaliste et philosophe, qui signe les articles
						scientifiques, Maria Bonnevial, communarde, socialiste, penseuse et féministe ou encore Pauline Kergamard, qui faisant carrière dans l'éducation nationale, est à l'origine des écoles 
						maternelle et de la puériculture. Ainsi, les domaines abordés sont variés et multiples et mobilise une armée de collaboratrices, chacune spécialisée dans son domaine. Tout cela
						participe au renversement de la bipolarisation genrée des domaines abordés par les journalistes à l'époque.</p>
				<p>Le journal, fondé au milieu de l'Affaire Dreyfus, prend également de l'importance dans sa participation à celle-ci. L'action dreyfusarde de 
					<em>la Fronde</em> commence avec la publication de "J'accuse" d'Emile Zola et se poursuit lors du procès d'Esterhazy et de Zola, qui sont suivis par les articles et prises de 
					parole de Bradamante, pseudonyme de Marie-Anne de Bovet, femme de lettres et collaboratrice du journal. Ce combat a pour apogée le second procès de Dreyfus à Rennes en 1899, pour
					lequel, sur les six femmes présentes, la moitié fait partie de <em>La Fronde</em>. Marguerit Durand, en sa qualité de directrice du journal, s'occupe des éditoriaux, Jeanne Brémontier, 
					titulaire de la rubrique justice, publie ses comptes rendus d'audience et, enfin, Séverine présente ses impressions du procès dans <em>Notes d'une frondeuse</em>, dans un style lyrique très apprécié des lecteurs.</p>
				</div>
	<br>
	<br>
				<div id="bibliographie">
					<h4>Bibliographie succinct</h4>
					<ul>
						<li>Besnard Cecile, "Séverine et Marguerite Durand, la naissance d'un journal expérimental: <em>La Fronde</em>", dans <em>Les Jaseuses</em>, 24/09/2020, https://lesjaseuses.hypotheses.org/1062</li>
						<li>Chartron Marie, "Séverine, une journaliste debout (1855-1929)", <em>Une vie, une oeuvre</em>, France culture, 27/04/2019, https:///Www.franceculture.fr/emissions/une-vie-une-oeuvre/severine-une-journaliste-debout-1855-1829 avec:Thérety Marie-Eve, Couturiau Paul, Douyère-Demeulenaere, Oriol Philippe, Mollier Jean-Yves et Metz-Anne</li> 
						<li>Cosnier, Colette, "La Fronde, un "journal entièrement dirigé, rédigé... par les femmes" au coeur de l'Affaire" dans <em>Être dreyfusard hier et aujourd'hui</em>, dirigé par Manceron Gilles, Naquet Emmanuel, Presses Universitaires de Rennes, 2009, p.229-232</li>						
						<li>Le Garrec, Evelyne, <em>Séverine (1855-1929), vie et combats d'une frondeuse</em>, éditions de l'Archipel, 2015, 179 p.</li>
						<li>Ripa, Yannick, "Séverine, 'rien que Séverine'", dans <em>Femmes d'exceptions, les raisons de l'oubli</em>, éditions Le cavalier Bleu, 2018, p.177-187</li>
					</ul>
	</div>
	<br>
						</div>
{% endblock %}
