{% extends "conteneur.html" %}
{% block corps %}
<div>
   	<div>
		<h1>Index de personnes</h1>
	</div>
	<div>
                <table>
                <thead>
                    <tr>
                        <th>Lieu</th>
                        <th>Occurences</th>
                        <th>Roles</th>
						<th>Description</th>
                    </tr>
                </thead>
                    {% for key,value in index.items() %}
                        <tbody>
                            <tr>
                                <td>{{key.personne_nom}}</td>
                                <td><ul>{%for el in value %}<li><a href="{{url_for('note', article_id=el.article_id)}}">{{el.article_date}}</a></li>{% endfor %}</ul></td>
                                <td>{{key.personne_dreyf}} et {{key.personne_role}}</td>
								<td>{{key.personne_notes}}</td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
	</div>
{% endblock %}
