{% extends "conteneur.html" %}
{% block corps %}
<br/>
<br/>
<div class="container">
	<div>
		<h3>Index de lieux</h3>
	</div>
	<br/>
	{% if list %}
	<div>	
            <h4>Liste des {{list.total}} lieux mentionnés dans le corpus</h4>
	 </div>
	<br/>
	  	  {{ pagination.links }}
	 <div>
                <table class="table text-center">
                <thead>
                    <tr class="d-flex">
                        <th class="col-2" scope="col">Lieu</th>
                        <th class="col-2" scope="col">Occurences</th>
                        <th class="col-2" scope="col">Emplacement</th>
						<th class="col-6" scope="col">Description</th>
                    </tr>
                </thead>
                    {% for dict in list %}
                        <tbody>
							{% for key, value in dict.items() %}
                            <tr class="d-flex" scope="row">
                                <td class="col-2">{{key.lieu_nom}}</td>
                                <td class="col-2"><ul>{%for el in value %}<li><a href="{{url_for('note', article_id=el.article_id, pointeur=key.lieu_pointeur)}}">{{el.article_date}}</a></li>{% endfor %}</ul></td>
                                <td class="col-2">{{key.lieu_emplacement}}</td>
								<td class="col-6">{{key.lieu_notes}}</td>
                            </tr>
							{% endfor %}
                        </tbody>
                    {% endfor %}
                </table>
      </div>
	{% endif %}
</div>
{% endblock %}
