{% extends "conteneur.html" %}
{% block corps %}
<div>
	<div>
		<h1>Index de lieux</h1>
	</div>
	 <div>
                <table>
                <thead>
                    <tr>
                        <th>Lieu</th>
                        <th>Occurences</th>
                        <th>Emplacement</th>
						<th>Description</th>
                    </tr>
                </thead>
                    {% for key,value in index.items() %}
                        <tbody>
                            <tr>
                                <td>{{key.lieu_nom}}</td>
                                <td><ul>{%for el in value %}<li><a href="{{url_for('note', article_id=el.article_id)}}">{{el.article_date}}</a></li>{% endfor %}</ul></td>
                                <td>{{key.lieu_emplacement}}</td>
								<td>{{key.lieu_notes}}</td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
      </div>
{% endblock %}
