<!DOCTYPE html>

<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <title>Notes d'une frondeuse</title>
        {% include "partials/metadata.html" %}
        {% include "partials/css.html"%}
        <link rel="icon" href="data:,">
    </head>

    <body style="background-color: #FCF3CF">
		<nav class="navbar navbar-expand-lg navbar-light rounded shadow" role="navigation" style="background-color: #FF5C39">
			<div class="container-fluid">
        		<ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class= "nav-link" href="{{ url_for('accueil') }}">Accueil</a>
                    </li>
                    <li class="nav-item nav-dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navBarApropos"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                >À propos</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{{url_for('about')}}">Projet</a>
                                <a class="dropdown-item" href="{{url_for('contexte')}}">Notes d'une frondeuse</a>
                            </div>
                    </li>
					<li class="nav-item">
            			<a class="nav-link" href="{{ url_for('corpus') }}">Articles</a>
          			</li>
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarIndex"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        >Index</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{url_for('personnes')}}">Personnes</a>
                            <a class="dropdown-item" href="{{url_for('lieux')}}">Lieux</a>
                        </div>
                    </li>
				</ul>
                <form action="{{url_for('recherche')}}">
                    <div>
                        <input name="keyword" type="search" placeholder="Rechercher dans les articles" aria-label="Recherche">
                        <div>
                            <button type="submit">Rechercher</button>
                        </div>
                    </div>
                </form>
            </div>
        </nav>
        <div>
                {% block corps%}{%endblock%}
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

    </body>
	<footer class="page-footer">
    <div class="container">
         <span class="float-end">© Notes d'une Frondeuse - Juliette Janes - 2021  &nbsp; &nbsp;
             <a href="http://www.chartes.psl.eu/fr" target="_blank"><img src="{{url_for('static', filename='images/ecole_chartes.png')}}"/></a>
        </span>
       </div>

</footer>
</html>
    
