<!DOCTYPE html>

<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <title>Notes d'une frondeuse {%block titre%}{%endblock%}</title>
        {% include "partials/metadata.html" %}
        {% include "partials/css.html"%}
        <link rel="icon" href="data:,">
    </head>

    <body>
		<nav>
			<a href="{{ url_for('accueil') }}">Accueil</a>
			<div>
        		<ul>
					<li>
            			<a href="{{ url_for('corpus') }}">Articles</a>
          			</li>
					<li>
            			<a href="{{ url_for('lieux') }}">Index de lieux</a>
          			</li>
          			<li>
            			<a href="{{ url_for('personnes') }}">Index de personnes</a>
          			</li>
				</ul>
                <form action="{{url_for('recherche')}}">
                    <div>
                        <input name="keyword" type="search" placeholder="Rechercher dans les articles" aria-label="Recherche">
                        <div>
                            <button type="submit">Rechercher</button>
                        </div>
                    </div>
                </form>
            </div>
        </nav>
		<div>
            <div>
                {% block corps%}{%endblock%}
            </div>
        </div>
    </body>
</html>
    
